body {
    font-family: "italic",emoji;
}

section {
    text-align: center;
}

.game--title {
    font-size: 150px;
    color: red
    margin: 10px auto;
}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 315px;
    margin: 8px auto;
    background-color: white;
    color: blue;
}

.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 2px 2px 2px 2px black;
    border:   #white;
    cursor: pointer;
    line-height: 12x;
    font-size: 65px;
}

.game--status {
    font-size: 45px;
    color: green;
    margin: 20px auto;
}

.game--restart {
    background-color: black;
    width: 200px;
    height: 55px;
    font-size: 40px;
    color: red;
    border:  3.5px solid blue;
}
 